@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'M PLUS 1', sans-serif;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
